@import "./base.css";


:root {

  --light-green: #b9ffb7ff;
  --celadon: #abedc6ff;
  --tiffany-blue: #98d9c2ff;
  --carrot-orange: #f19a3eff;
  --van-dyke: #403233ff;


  --color-1: #071330;
  --color-2: #0C4160;
  --color-3: #738FA7;
  --color-4: #B1D4E0;
  --color-5: #C3CEDA;
}
body {
  color: var(--color-1);
  background-color: var(--color-5);
  font-family: "Work Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-5);
    background-color: var(--color-1)
  }
}

@layer components {
  .btn-primary {
    @apply m-2 p-4 rounded-xl bg-[var(--color-3)] hover:bg-[var(--color-4)] hover:text-[var(--color-2)];
  }
  section {
    @apply min-h-screen p-6 md:p-8;
  }
}

* {
  transition: all 150ms ease-in-out;
}