@import "./base.css";

* {
  transition: all 100ms ease-in-out;
}

:root {
  --color-1: #252422ff;
  --color-2: #403d39ff;
  --color-3: #eb5e28ff;
  --color-4: #ccc5b9ff;
  --color-5: #fffcf2ff;

  --button-bg-color-1: #478978ff;
  --button-bg-color-2: #eb5e28ff;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

@layer components {
  body {
    @apply text-[var(--color-1)] dark:text-[var(--color-5)] bg-[var(--color-5)] dark:bg-[var(--color-1)];
  }
  .btn-primary {
    @apply m-2 p-4 rounded-xl bg-[var(--color-3)] hover:bg-[var(--color-4)] text-[var(--color-5)] hover:text-[var(--color-2)];
  }
  .btn-primary:disabled {
    @apply bg-[var(--color-2)] text-[var(--color-4)];
  }
  section {
    @apply min-h-screen p-6 md:p-8;
  }
  input {
    @apply outline focus:outline-[var(--color-3)] bg-transparent rounded-lg;
  }
  textarea {
    @apply outline focus:outline-[var(--color-3)] bg-transparent rounded-lg;
  }
}
